<aside>
	<h3>Jak to działa?</h3>
	<div class="form-info">1. Rejestrujesz się, korzystając z polecenia. 
	    Polecenie (od istniejącego użytkownika) jest obowiązkowe; można znaleźć je w różnych miejscach, 
	    na przykład w <a href="http://forum.bitcoin.pl/zakladybitcoin-net-pytania-odpowiedzi-dyskusje-t8676.html" target="_blank">naszym temacie na polskim forum bitcoin</a>.</div>
	<div class="form-info">2. Wpłacasz BTC na swoje indywidualne konto w naszym serwisie.</div>
	<div class="form-info">3. Wybierasz jedno z istniejących zdarzeń lub tworzysz nowe.</div>
	<div class="form-info">4. Obstawiasz wynik tego zdarzenia - ZA albo PRZECIW, dowolną sumą w BTC.</div>
	<div class="form-info">5. Gdy zdarzenie się odbędzie i zostanie rozstrzygnięte, BTC idzie do podziału między wszystkich, którzy trafnie przewidzieli jego wynik (proporcjonalnie). Małą część bierze:<br />
	- serwis; <br />
	- osoba, która dodała zdarzenie, <br />
	- oraz polecający zwycięzców.
	</div>
	<div class="form-info">6. Kiedy już będziesz naszym użytkownikiem, zachęcanie ludzi do rejestracji z Twojego polecenia może być opłacalne (choć prawdopodobnie nie tak, jak wygrany zakład).
	</div>
	<div class="form-info">Szczegółowe informacje znajdziesz w <a href="<?php echo URL::base(); ?>terms">Regulaminie</a>
	    oraz <a href="<?php echo URL::base(); ?>faq">FAQ</a></div>
</aside>