<aside>
<h3>Pomoc</h3>
<div class="form-info">Deadline może być ustawiony na minimum 1 dobę, maksimum nie jest określone, byle na obstawianie była przynajmniej jedna doba.</div>
<div class="form-info">Wszystkie daty do końca dnia (23:59:59) w strefie czasowej CET (Polska/Warszawa)</div>
<div class="form-info">Zdarzenie po utworzeniu musi zostać zatwierdzone przez moderację.</div>
<div class="form-info">Obstawiać będzie można po zatwierdzeniu zdarzenia.</div>
<div class="form-info">Data zdarzenia może być minimalnie za 3 dni, maksymalnie rok od dziś.</div>
</aside>