<li class="agree"><%= view_as_btc(bet.sum_positive, 2) %></li>
<li class="disagree"><%= view_as_btc(bet.sum_negative, 2) %></li>
<li class="active" data-toggle="tooltip" title data-original-title="Deadline:"><%= bet.time_remaining %></li>