<h3>Wybierz opcję zakończenia tego zdarzenia</h3>
<%= form_for @bet, url: { action: "settle" } do |f| %>
	<div class="actions">
		<%= f.submit "Zakończ jako PRAWDA", { "name" => "positive", "class" => "admin_button" } %>
		<%= f.submit "Zakończ jako FAŁSZ",  { "name" => "negative", "class" => "admin_button" }  %>
	</div>
<% end %>