<div class="footer-container">
  <footer class="wrapper clearfix"><ul>
    <li>
      <h3><%= link_to "Regulamin", terms_path %></h3>
    </li>
    <li>
      <h3><%= link_to "F.A.Q.", faq_path %></h3>
    </li>
    <li>
      <h3><%= link_to "Kontakt", contact_path %></h3>
    </li>
      </ul>
  </footer>
</div>