<div class="footer-container">
  <footer class="wrapper clearfix"><ul>
    <li>
      <h3><%= link_to "Regulamin", terms_path %></h3>
    </li>
    <li>
      <a href="<?php echo URL::base(); ?>faq"><h3>F.A.Q.</h3></a>
    </li>
    <li>
      <a href="<?php echo URL::base(); ?>contact"><h3>Kontakt</h3></a>
    </li>
      </ul>
  </footer>
</div>